
<div class="grid-container-header">
  <div class="item1">
    <div *ngIf="isAuthenticated; then doSomething; else doSomethingElse;"></div>
    <ng-template #doSomething>
        <label>Logged User : <em>{{user.email}}!</em></label>
        <div>
            <a class="logoutBtn" (click)="logOut()">Log out</a>
        </div>
    </ng-template>
    <ng-template #doSomethingElse>
      <a class="home"area-label="home" tabindex="0"  routerLink="/home">Home</a>
      <a class="login" area-label="login" tabindex="0"  routerLink="/log-in">Login</a>   
      <a class="registration" area-label="sing" tabindex="0"  routerLink="/sign-up">Signup</a>
      
    </ng-template>
  </div>
</div>
<div class="themes">
  <label class="radio-inline">
  <input type="radio" value="ligth" name="theme"   [(ngModel)]="theme" (change)="changeTheme()"> ligth theme
  </label>
  <label class="radio-inline">
  <input type="radio" value="dark" name="theme"  [(ngModel)]="theme"  (change)="changeTheme()"> dark theme
  </label>
</div>