.grid-container {
    display: grid;
    grid-template-columns: auto;
    // background-color:black;
    padding: 10px;
    width: 800px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    padding: 10px;
    font-size: 5px; 
    color: black;
  }
  button{
        background-color: #4CAF50; /* Green */
        border: none;
        color: rgb(255, 255, 255);
        padding: 10px;
        text-align: center;
        float: right;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
       
      
  }
  .delbtn {
      background-color: rgba(255, 0, 0, 0.404);
  }
 
  .texts{
    text-align: left;
    font-size:20px;
  }

